/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.div-results {
  width: 100%;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #2d2d2d;
  height: 100vh;
  overflow: auto;
}

.display-block .graph {
 display: flex;
}


.btn-quiz {
  display: flex;
  width: 190px;
  height: 60px;
  color: white;
  background-color: #212124;
  border: 2px solid aliceblue;
  border-radius: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  margin-right: 20px;
}

.btn-emocoes {
  display: flex;
  width: 190px;
  height: 60px;
  color: white;
  background-color: #212124;
  border: 2px solid aliceblue;
  border-radius: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  display: flex;
   width: 100% !important;
  height: 100% !important;
  position: relative;
  top: -70px; 
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #000000;
  background-color: #4e4e4e;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #212124;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #000000;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  display: flex;
  width: 180px;
  height: 60px;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  border: 2px solid aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-nav-white {
  display: flex;
  width: 150px;
  height: 40px;
  background-color: aliceblue;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.btn-nav-white h3 {
  color: #000000;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

canvas{
  display: flex;
  width: 1000px;
  height: 700px;
}

.tituloQuiz p{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
  position: relative;
  top: -50px;
}

.area-info .informaEmo{
  display: flex;
  font-size: x-large;
  color: white;
  position: relative;
  top: -8px;
}

.emocoes{
  display: flex;
  font-size: large;
  color: white;
  position: relative;
  top: 5px;
}

.tabelaEmo{
  display: flex;
  font-size: large;
  color: rgb(133, 128, 113);
  width: 600px;
  height: 120%;
  background-color: #212124;
  border: 2px solid white;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2px;
}

.tabelaEmo b{
  display: flex;
  position: relative;
  top: 3px;
}

.area-info{
  display: flex;
  width: 600px;
  height: 140px;
  background-color: #212124;
  border: 2px solid white;
  border-radius: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -65px;
}

.tituloEmocao{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
  position: relative;
  top: -80px;
}

/* .area-emocoes{
  display: flex;
  position: relative;
  top: -70px;

} */