/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.devo{
  display: flex;
  /* width:calc(170vh - var(--tamanho-devo) - 2px); */
  background-size: cover;
  background-color: #212124;
  float: right;
  right: 70px;
  width: auto;
  padding-right: 70px;
  justify-content: baseline;
}

.emocao{
  display: flex;
  width: 30px;
  height: 30px;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

img{
  width: 70px;
  height: 70px;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #090909;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #2d2d2d;
  height: 100vh;
  overflow: auto;
}

.area-parametros-emocoes {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  background-color: #4e4e4e;
}

.area-parametros-emocoes .titulo-legenda {
  color: rgb(0, 0, 0);
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
  position: relative;
  top: 0px;
  left: 190px;
}

.parametros-emocoes {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.button{
  display: flex;
  cursor: pointer;
}

.alert{
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 121px;
    background-color: #212124; 
    color: white; 
    border: 1px solid aliceblue;
    border-radius: 10px;
    position: relative;
    top: -174px;
    left: 280px;
  }

  .alert p{
    display: flex;
    align-items: start;
    font-size: large;
    position: relative;
    left: 15px;
    top: -15px;
  }

.item-regua {
  /* width: 30%; */
  text-align: center;
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.area-leitura-rapida .leitura-rapida{
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  background-color: #6a624f;
  color: #e8bc87;
  position: relative;
  margin-top: 70px;
  margin-left: 90px;
  border-radius: 10px;
}

.area-leitura-rapida{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leitura-rapida{
  display: inline-block;
  width: 30%;
  height: 200px;
}

.area-cotidiano{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.area-cotidiano .cotidiano{
  display: flex;
  width: 300px;
  height: 370px; 
  flex-direction: column;
  background-color: #f9d8a2;
  color: #4d6152;
  position: relative;
  margin-top: 70px;
  margin-left: 70px;
  border-radius: 10px;
}

.area-cotidiano .cotidiano2{
  display: flex;
  width: 300px;
  height: 370px; 
  flex-direction: column;
  background-color: #f9d8a2;
  color: #4d6152;
  position: relative;
  margin-top: 70px;
  margin-left: 70px;
  border-radius: 10px;
}

.cotidiano h2{
  position: relative;
  top: -15px;
}

.cotidiano h4{
  position: relative;
  top: -80px;
  left: 101px;
}

.cotidiano2 h4{
  position: relative;
  top: -46px;
  left: 90px;
}

.cotidiano2 img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.cotidiano2 h2{
  position: relative;
  top: -17px;
}

.area-vida{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.area-vida .vida{
  display: flex;
  width: 300px;
  height: 370px; 
  flex-direction: column;
  background-color: #f9d8a2;
  color: #4d6152;
  position: relative;
  margin-top: 70px;
  margin-left: 70px;
  border-radius: 10px;
}

.area-vida .vida1{
  display: flex;
  width: 300px;
  height: 370px; 
  flex-direction: column;
  background-color: #f9d8a2;
  color: #4d6152;
  position: relative;
  margin-top: 70px;
  margin-left: 70px;
  border-radius: 10px;
}

.vida h4{
  position: relative;
  top: -36px;
  left: 90px;
}

.vida1 h4{
  position: relative;
  top: -36px;
  left: 90px;
}

.vida1 h2{
  position: relative;
  left: 100px;
}

 h1{
  position: relative;
  top: 33px;
}

.area-estudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.area-estudo .estudo{
  display: flex;
  width: 300px;
  height: 370px; 
  flex-direction: column;
  background-color: #f9d8a2;
  color: #4d6152;
  position: relative;
  margin-top: 70px;
  margin-left: 70px;
  border-radius: 10px;
}

.estudo h4{
  position: relative;
  top: -36px;
  left: 90px;
}
a{
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #000000;
  background-color: #4e4e4e;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #000000;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  border: 3px solid#000000;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #000000;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #000000;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}