@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: hsl(7, 8%, 57%);
}


  @font-face {
  font-family: Breathing;
  src: url(../../Breathing.ttf);
} 

.fontBr{
  font-family: Breathing;
  color: #000000;
  width: fit-content;
  font-weight: 500;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(120vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  background-image: url("/Logo_Projeto_Indiv-removebg-preview.png");
  z-index: 2;
}

.container p {
  color: #000000;
  text-align: center;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 3px solid #000000;
  background-color: #998a88;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-direction: row;

}

.header a {
  text-decoration: none;
  color: #000000;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #000000;
}

.titulo {
  color: #000000;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e7e2e2;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  column-gap: 200px;
}

.social .container .texto {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
  color: #e5e5e5;
}
.social h4{
  color: #e5e5e5;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -20px;
}

/* FOOTER */

.footer {
  background-color: #0c0c0c;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}

.footer .container h2{
  color: #fff;
}

.footer .container .version {
  font-size: 15px;
}

/* LOGIN */

.login {
  height: calc(170vh - var(--tamanho-login) - 2px);
  /* background-image: url('../assets/imgs/bg-jelly-fish-para-home.png'); */
  background-size: cover;
  background-color: #998a88;
}

.login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 30%;
  /* background-color: #998a88; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  flex-direction: column;
  height: fit-content;
  padding: 90px 0;
  margin-top: 20px;
  column-gap: 200px;
  background-image: url("luxa.org-opacity-changed-Logo_Projeto_Indiv-removebg-preview.png");
  background-size: cover;
  width: 500px;
  height: 300px;

}

.cardImage{
  width: 100px;
  height: 70px;
}

.card h2 {
  margin: 0;
  font-size: 30px;
  /* -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #ffffff; */
  color: #ffffff;
}

span{
  /* -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #ffffff; */
  color: #ffffff;
}


.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 0;
  text-align: center;
  border-radius: 15px;
  margin: 0;
}

.formulario select {
  border: 2px solid #000000;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #000000;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
  border-radius: 15px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #b7b7b7;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #000000 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  display: flex;
  margin-bottom: 10px;
  border: 16px solid #000000;
  padding: 10px;
  text-align: center;
  border-radius: 10px;

}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}